.popup__close-button {
  position: absolute;
  width: 58px;
  height: 58px;
  background-image: url(../../../images/close.svg);
  background-size: 58px 58px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  padding: 0;
  right: -45px;
  top: -45px;
}

.popup__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 479px) {
  .popup__close-button {
    right: -7px;
    top: -45px;
    width: 38px;
    height: 38px;
    background-size: 38px 38px;
  }
}