.popup {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  opacity: 0;
  display: flex;
  transition: visibility 0s linear, opacity .2s linear;
  visibility: hidden;
}