.page {
  background-color: #000000;
  font-family: 'Inter', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 320px;
  padding: 0 30px;
  box-sizing: border-box;
  min-height: 100vh;
}

@media screen and (max-width: 479px) {
  .page {
    padding: 0;
  }
}